.table a i {
    font-size: 16px;
    display: block;
    color: #676a6c;
    text-align: center
}

/* user datatable*/
/*#usertable_processing,#admintable_processing {
 
    top: 0%;
    left: 45%;
    width: 200px;
    margin-left: -100px;
    margin-top: -45px;
    text-align: center;
    padding: 1em 0;
    font-size: 14px;
} */
 .panel {
    background:none;
    border:none;
}
.actionTag{
    text-align: center;
}
.activeaccount{
    color:green;
}
.deactive{
    color:red;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  background-color: none !important;
  border-bottom-width: 1px;
}